body {
    padding-top: 10rem;
}

.join-discord{
    display:inline-block;
    padding:0.7em 1.4em;
    margin:3% 0.3em 0.3em 0;
    border-radius:0.15em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:400;
    color:#FFFFFF;
    background-color:#738ADB;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
}
.join-discord:active{
    top:0.1em;
}

.card{
    margin: auto auto 5%;
}
