#boxes {

    text-align: center;
}

#btns {
    padding: 25px;
    background: white;
    margin-bottom: 40px;
}

#btns button {
    background: white;
    padding: 5px 10px;
    border: 0px;
}

#btns .fa {
    font-size: 30px;
    color: #0078D7;
}

body {
    Padding: 100px 0px 0px 5px;
}
.box {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 4px;
    display: inline-block;
}

.red {background-color: #1e344f;}
.blue {background-color: #ce4146;}
.green {background-color: #f6b144;}
.cyan {background-color: #8a9ba6;}
