@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


.custom-nav-item{
    font-weight: 400;
    font-family: Verdana, serif;
    color: rgb(250, 250, 250);
}

.custom-nav-item:hover{
    color: rgb(220, 220, 220);
    text-decoration: none;
}

.nav-item-active{
    font-weight: 800;
    font-family: Verdana, serif;
    color: rgb(255, 255, 255);
}

.nav-item-active:hover{
    text-decoration: none;
    color: white;
}

.navbar{
    margin-top: 1%;
    margin-bottom: 2%;
}

.brand{
    width: 40px;
    height: 40px;
}
