@import '../../../../sass/variables';
@import '../../../../sass/mixins';

@keyframes fade-in-out {
    0%, 100% { opacity: 0;}
    50%{ opacity: 1;}
}

.fade-in-out {
    animation: fade-in-out 4s infinite;
}

.contact-form {
    input {
        @include neumorph-input();
    }

    textarea {
        @include neumorph-input();
        min-height: 18rem !important;
        line-height: 1.7;
    }
    
}