$primary: #173058;
$secondary: #FF7F00;
$outward-shadow: 12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
-8px -8px 12px 0 rgba(0, 0, 0, .25) inset;
$inner-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
$outer-shadow: -3px -3px 7px #ffffff,
3px 3px 5px #ceced1;