nav {
    margin: auto;
    max-width: 80%;
    a {
        display: flex;
        user-select: none;
        justify-content: center;
        align-items: center;
        margin: 0 1.7rem;
    }
    .mat-btn{
        padding-left: 3.2rem;
        padding-right: 3.2rem;
        color: #ffffff !important;
    }
}

@media screen and (max-width: 991px) {
    nav {
        a {
            margin: 0.5rem 0
        }
    }
}